<p>ODOBRENA PRIJAVA</p>
<p>Hvala – tvoja prijava je uspešna!</p> 
<p>Možeš je pogledati u galeriji.</p>
<p>Obavezno sačuvaj fiskalni račun na kom se nalazi БИ broj uz pomoć kog je izvršena prijava. Fiskalni račun će ti biti neophodan kao dokaz u slučaju da osvojiš neku od nagrada.</p>
<p>Podsećamo te da se možeš prijaviti neograničeni broj puta u toku trajanja nagradnog konkursa, neophodno je da prilikom svake nove prijave uneseš novi БИ broj sa fiskalnog računa na kom se nalazi kupovina minimum 10 kesica Insta Grand kafe.</p>
<p>Nastavi da uživaš uz Insta Grand!</p>
<p>Hvala!</p>
