<div class='container' id='alerts' style='position: fixed; top: 150px; left: 0; right: 0; z-index: 50; font-size: 20px;'>
    <% if(error && error.length > 0) { %>
    <div class='alert alert-danger alert-dismissible fade show alert_custom_design' role='alert' id='error-alert'>
            <%= error %>
        <!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button> -->
    </div>
    <% } %>

    <% if(success && success.length > 0) { %>
    <div class='alert alert-success alert-dismissible fade show alert_custom_design' role='alert' id='success-alert'>
        <%= success %>
        <!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button> -->
    </div>
    <% } %>

    <% if(info && info.length > 0) { %>
    <div class='alert alert-info alert-dismissible fade show alert_custom_design' role='alert' id='info-alert'>
        <%= info %>
        
        <!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button> -->
    </div>
    <% } %>
    <div id="customAlert" class='alert-danger alert-dismissible  alert_custom_design custom_alert_hide' role='alert' id='error-alert'>
        
    <!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button> -->
    </div>
   
</div>