
<section id="rightSection">
    <img class="insta_grand_traka" src="/images/prijava_traka_strana.png" alt="Traka Insta Grand">
    <img class="kesice_kafe" src="/images/prijava_desno_kesice.png" alt="3u1 2u1 kafa">
    <img class="solja_kafe" src="/images/prijava_desno_solja_i_kafa.png" alt="Solja sa kafom">
</section>
<div class="bottom_section">
    <div class="footer__datumi">
        <p>Konkurs traje od</p>
        <p>05.11.2020. do 06.12.2020.</p>
    </div>
    <div class="footer__network">
        <div>
            <img src="/images/prijava_face_icon.png" alt="Facebook icon" />
            <p>Insta Grand</p>
        </div>
        <div>
            <img src="/images/prijava_insta_icon.png" alt="Instagram icon" />
            <p>instagrandkafa</p>
        </div>
    </div>
</div>
</div>
<noscript>
    <div style="position: fixed; top: 0px; left: 0px; z-index: 3000; 
          height: 100%; width: 100%; background-color: #FFFFFF">
        <p style="margin-left: 10px">JavaScript is not enabled.</p>
    </div>
</noscript>

<script src="/javascripts/index.js"></script>
</body>

</html>