<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Samo u탑ivaj!</title>
    <link rel="icon" href="/favicon.ico">

    <link href="/stylesheets/lib/bootstrap.css" rel="stylesheet" />
    <link href="/stylesheets/lib/jquery-ui.css" rel="stylesheet" />
    <link href="/stylesheets/styles.css" rel="stylesheet" />


    <script src="/javascripts/lib/jquery.js"></script>
    <script src="/javascripts/lib/popper.js"></script>
    <script src="/javascripts/lib/bootstrap.js"></script>
    <script src="/javascripts/lib/jquery-ui.js"></script>

    <meta name="description" content="U훾estvujte u nagradnom konkursu i osvojite vredne nagrade!">

    <meta property="og:type" content="website">
    <meta property="og:title" content="Samo u탑ivaj!">
    <meta property="og:description" content="U훾estvujte u nagradnom konkursu i osvojite vredne nagrade!">
    <% if(locals.prijava) { %>
    <meta property="og:image" content="<%= locals.prijava.picture ? process.env.S3_BUCKET + '/' + locals.prijava.picture : '/images/video-thumb.png' %>">
    <% } %>
</head>

<body>
    <%- include('flash') %>
    <div class="documentWrapper">
        <section id="leftSection">
            <img class="insta_grand_traka" src="/images/prijava_traka_strana.png" alt="Traka Insta Grand">
            <div>
                <p>#SamoUzivaj</p>
                <div class="header__prelomni_text">
                    <p>i OSVOJI SUPER</p>
                    <p class="text_lg">NAGRADE</p>
                </div>
            </div>
            <div class="footer__datumi">
                <p>Konkurs traje od</p>
                <p>05.11.2020. do 06.12.2020.</p>
            </div>
        </section>
        <div class="navbar_box navbar_box_open_mobile" id="navbarWrapper">
            <img src="/images/hamburger.png" alt="Meni" class="hamburger">
            <ul id="navbarBox" class="closed">
                <li><a href="/profil">PRIJAVA</a></li>
                <li><a href="/prijave">GALERIJA</a></li>
                <li><a href="/pravila">PRAVILA</a></li>
                <li><a href="/dobitnici">DOBITNICI</a></li>
                <li><a href="/mehanizam">MEHANIZAM</a></li>
                <li><a href="/nagrade">NAGRADE</a></li>
                <li><a href="/kontakt">KONTAKT</a></li>
            </ul>
            <div id="navbarBackground" class="navbar_mobile_background closed-nav_back"></div>
        </div>