<%- include('partials/header') %>

<main>
    <div class="background_box background_box_with_no_bottom">
        <div class="galerija">
            <h1>Dobitnici</h1>
            <div class="grid_holder">
                <a href="/prijave/123" class="grid_box">
                    <div class="img_holder">
                        <img src="/images/test-slika.png"
                            alt="Gallery image"
                        >
                        <div class="text_holder">
                            <p class="text_no_hover">Ana Markovic</p>
                            <div class="text_on_hover">
                                <p class="name">Ana Markovic</p>
                                <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur voluptas soluta magni explicabo maiores officia</p>
                            </div>
                        </div>
                    </div>
                    <img class="share_on_facebook" src="/images/share_icon.png" alt="Share on facebook">
                </a>
                <a href="/prijave/123" class="grid_box">
                    <div class="img_holder">
                        <img src="/images/test-slika-2.jpg"
                            alt="Gallery image"
                        >
                        <div class="text_holder">
                            <p class="text_no_hover">Ana Markovic</p>
                            <div class="text_on_hover">
                                <p class="name">Ana Markovic</p>
                                <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur voluptas soluta magni explicabo maiores officia</p>

                            </div>
                        </div>
                    </div>
                    <img class="share_on_facebook" src="/images/share_icon.png" alt="Share on facebook">
                </a>
                <a href="/prijave/123" class="grid_box">
                    <div class="img_holder">
                        <img src="/images/image_placeholder.png"
                            alt="Gallery image"
                        >
                        <div class="text_holder">
                            <p class="text_no_hover">Ana Markovic</p>
                            <div class="text_on_hover">
                                <p class="name">Ana Markovic</p>
                                <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur voluptas soluta magni explicabo maiores officia</p>

                            </div>
                        </div>
                    </div>
                    <img class="share_on_facebook" src="/images/share_icon.png" alt="Share on facebook">
                </a>
                <a href="/prijave/123" class="grid_box">
                    <div class="img_holder">
                        <img src="/images/image_placeholder.png"
                            alt="Gallery image"
                        >
                        <div class="text_holder">
                            <p class="text_no_hover">Ana Markovic</p>
                            <div class="text_on_hover">
                                <p class="name">Ana Markovic</p>
                                <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur voluptas soluta magni explicabo maiores officia</p>

                            </div>
                        </div>
                    </div>
                    <img class="share_on_facebook" src="/images/share_icon.png" alt="Share on facebook">
                </a>
                <a href="/prijave/123" class="grid_box">
                    <div class="img_holder">
                        <img src="/images/image_placeholder.png"
                            alt="Gallery image"
                        >
                        <div class="text_holder">
                            <p class="text_no_hover">Ana Markovic</p>
                            <div class="text_on_hover">
                                <p class="name">Ana Markovic</p>
                                <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur voluptas soluta magni explicabo maiores officia</p>

                            </div>
                        </div>
                    </div>
                    <img class="share_on_facebook" src="/images/share_icon.png" alt="Share on facebook">
                </a>
                <a href="/prijave/123" class="grid_box">
                    <div class="img_holder">
                        <img src="/images/image_placeholder.png"
                            alt="Gallery image"
                        >
                        <div class="text_holder">
                            <p class="text_no_hover">Ana Markovic</p>
                            <div class="text_on_hover">
                                <p class="name">Ana Markovic</p>
                                <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur voluptas soluta magni explicabo maiores officia</p>

                            </div>
                        </div>
                    </div>
                    <img class="share_on_facebook" src="/images/share_icon.png" alt="Share on facebook">
                </a>
                <a href="/prijave/123" class="grid_box">
                    <div class="img_holder">
                        <img src="/images/image_placeholder.png"
                            alt="Gallery image"
                        >
                        <div class="text_holder">
                            <p class="text_no_hover">Ana Markovic</p>
                            <div class="text_on_hover">
                                <p class="name">Ana Markovic</p>
                                <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur voluptas soluta magni explicabo maiores officia</p>

                            </div>
                        </div>
                    </div>
                    <img class="share_on_facebook" src="/images/share_icon.png" alt="Share on facebook">
                </a>
                <a href="/prijave/123" class="grid_box">
                    <div class="img_holder">
                        <img src="/images/image_placeholder.png"
                            alt="Gallery image"
                        >
                        <div class="text_holder">
                            <p class="text_no_hover">Ana Markovic</p>
                            <div class="text_on_hover">
                                <p class="name">Ana Markovic</p>
                                <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur voluptas soluta magni explicabo maiores officia</p>

                            </div>
                        </div>
                    </div>
                    <img class="share_on_facebook" src="/images/share_icon.png" alt="Share on facebook">
                </a>
                <a href="/prijave/123" class="grid_box">
                    <div class="img_holder">
                        <img src="/images/image_placeholder.png"
                            alt="Gallery image"
                        >
                        <div class="text_holder">
                            <p class="text_no_hover">Ana Markovic</p>
                            <div class="text_on_hover">
                                <p class="name">Ana Markovic</p>
                                <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur voluptas soluta magni explicabo maiores officia</p>

                            </div>
                        </div>
                    </div>
                    <img class="share_on_facebook" src="/images/share_icon.png" alt="Share on facebook">
                </a>         
               
            </div>
        </div>
        <div class="strelica strelica__mobile_only">
            
        </div>
    </div>
</main>

<%- include('partials/footer') %>