<%- include('partials/header') %>

<main>
    <div class="background_box">
        <div class="kontakt">
            <h1>Kontakt</h1>
            <img src="/images/kontakt_telefon.png" alt="Telefon">
            <p>CALL CENTAR: 0800/200-003</p>
            <img src="/images/kontakt_email.png" alt="E-mail">
            <p>INFO: kontaktcentarSRB@atlanticgrupa.com</p>
            <p class="follow_us">Zaprati nas i na</p>
            <div>
                <a 
                    href="https://www.instagram.com/instagrandkafa"
                    target="_blank"
                >
                    <img src="/images/kontakt_instagram.png" alt="Instagram">
                </a>
                <a 
                    href="https://www.facebook.com/instagrandkafa"
                    target="_blank"
                >
                    <img src="/images/kontakt_facebook.png" alt="Facebook">
                </a>
                <a
                    href=""
                    target="_blank"
                >
                    <img src="/images/kontakt_youtube.png" alt="Youtube">
                </a>

            </div>
        </div>
        <div class="strelica__floating_box">
            <img class="kesice" src="/images/kesice.png" alt="3u1 2u1 kafa">
            <img class="solja_kesice" src="/images/solja_kesice.png" alt="Solja kafe">
            <div>
                <p>#SamoUzivaj</p>
                <p>i OSVOJI SUPER NAGRADE</p>
            </div>
        </div>
        <div class="strelica">
            
        </div>
    </div>
</main>

<%- include('partials/footer') %>