<%- include('partials/header') %>

<main>
    <div class="background_box">
        <div class="content_title">Kako da dobiješ nagradu</div>
        <div class="mehanizam">
            <div class="mehanizam__box mehanizam__box--prvi">
                <div class="mehanizam__num_and_img">
                    <p class="number">1</p>
                    <img src="/images/kesice.png" alt="3u1 2u1 kafa">
                </div>
                <div class="mehanizam__text_box">
                    <p>KUPI 10 KESICA</p>
                    <p>bilo koje Insta Grand kafe</p>
                </div>
            </div>
            <div class="mehanizam__box mehanizam__box--drugi">
                <div class="mehanizam__num_and_img ">
                    <p class="number">2</p>
                    <img src="/images/mehanizam_racun.png" src="Fiskalni racun">
                </div>
                <div class="mehanizam__text_box ">
                    <p>Pošalji БИ broj</p>
                    <p>sa fiskalnog računa</p>
                    <p>*Originalni fiskalni račun je potrebno sačuvati</p>
                </div>
            </div>
            <div class="mehanizam__box mehanizam__box--treci">
                <div class="mehanizam__num_and_img">
                    <p class="number">3</p>
                    <div>
                        <img src="/images/mehanizam_fotoaparat.png" src="Fotoaparat">
                        <img src="/images/mehanizam_kamera.png" src="Kamera">
                    </div>
                </div>
                <div class="mehanizam__text_box">
                    <p>Postavi fotografiju ili video</p>
                    <p>i POKAŽI ŠTA JE ZA TEBE UŽIVANJE</p>
                </div>
            </div>
            <div class="mehanizam__box mehanizam__box--cetvrti">
                <div class="mehanizam__num_and_img mehanizam__num_and_img--nagrade">
                    <div class="mehanizam__text_box mehanizam__text_box--nagrade">
                        <p class="number number--relative">4</p>
                        <p class="text">OSVOJI SUPER NAGRADE</p>
                    </div>
                    <div class="mehanizam__iphone">
                        <img src="/images/nagrade_iphone.png" src="Fotoaparat">                        
                        <p>4x IPHONE 11</p>
                    </div>
                </div>
                <div class="mehanizam__sporedne_nagrade">
                    <img src="/images/nagrade_zvucnik.png" src="Fotoaparat">
                    <p>4x JBL ZVULNIK</p>
                    <img src="/images/nagrade_slusalice.png" src="Fotoaparat">
                    <p>4x SLUŠALICE</p>
                    <img src="/images/nagrade_paket.png" src="Fotoaparat">
                    <p>12x INSTA GRAND POKLON PAKETA</p>

                </div>
            </div>
        </div>
        <div class="strelica">
        </div>
    </div>
</main>

<%- include('partials/footer') %>