<%- include('partials/header') %>

<main>
    <div class="background_box">
        <div class="nagrade">
            <h1 class="h1__title">Nagrade</h1>
            <p>Počev od 16.11.2020. svake nedelje nagrađujemo šest najkreativnijih prijava</p>
            <img class="nagrade__mob" src="/images/nagrade_mob.png" alt="Nagradni fond"/>
            <img class="nagrade_desktop_img" src="/images/nagrade_desktop.png" alt="Nagradni fond"/>
            <!-- <div class="nagrade_desktop"> -->
                <!-- <img class="nagrade__desk_iphone" src="/images/nagrade_desk_comp_iphone.png" alt="Glavna nagrada iPhone 11"/>
                <div class="sporedne_nagradne">
                    <img class="nagrade__desk_zvucnik" src="/images/nagrade_desk_comp_zvucnik.png" alt="JBL CHARGE 4 ZVUCNIK"/>
                    <img class="nagrade__desk_slusalice" src="/images/nagrade_desk_comp_slusalice.png" alt="JBL SLUSALICE"/>
                    <img class="nagrade__desk_paket" src="/images/nagrade_desk_comp_paket.png" alt="INSTA GRAND POKLON PAKET"/>
                </div> -->
                
            <!-- </div> -->
        </div>
        <div class="strelica__floating_box">
            <!-- <img class="kesice" src="/images/kesice.png" alt="3u1 2u1 kafa"> -->
            <img class="solja_kesice" src="/images/solja_kesice.png" alt="Solja kafe">
           
        </div>
        <div class="strelica">
            
        </div>
    </div>
</main>

<%- include('partials/footer') %>