<%- include('partials/header') %>

<main>
    <div class="background_box">
        <div class="prijava">
            <h1>Postavi fotografiju ili video <br> i POKAŽI ŠTA JE ZA TEBE UŽIVANJE</h1>
            <form action="/prijava/1" method="POST">
                <input class="input_text input_iip" type="text" name="name" placeholder="ime i prezime" required
                    maxlength="30" />
                <input class="input_text input_email" type="email" name="email" placeholder="e-mail" required />
                <input title="Unesite broj" class="input_text input_bi no-spin" type="text" name="biCode" placeholder="БИ broj"
                    minlength="2" maxlength="7" pattern="[0-9]{2,7}" required />
                <button class="input_submit" type="submit">DALJE</button>
            </form>
        </div>
        <div class="strelica__floating_box">
            <img class="kesice" src="/images/kesice.png" alt="3u1 2u1 kafa">
            <img class="solja_kesice" src="/images/solja_kesice.png" alt="Solja kafe">
            <div>
                <p>#SamoUzivaj</p>
                <p>i OSVOJI SUPER NAGRADE</p>
            </div>
        </div>
        <div class="strelica">

        </div>
    </div>
</main>

<!-- Modal -->
<div id="modalUspesno" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">PRIJAVA USPEŠNA</h5>
            </div>
            <div class="modal-body">
                <p>Tvoja prijava je uspešno prosleđena. Potvrda o prijavi će ti stići na e-mail. Obavezno sačuvaj
                    fiskalni račun na kom se nalazi БИ broj uz pomoć kog je izvršena prijava. Fiskalni račun će ti biti
                    neophodan kao dokaz u slučaju da osvojiš neku od nagrada. </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<%- include('partials/footer') %>