<%- include('partials/header') %>

<main>
    <div class="background_box">
        <form action="/prijava/1" method="POST">
            <input type="text" name="name" placeholder="Ime i prezime" required />
            <input type="email" name="email" placeholder="Email" required />
            <input type="text" name="biCode" placeholder="BI Broj" required />
            <input type="submit" value="Submit" />
        </form>
        <div class="strelica">
            
        </div>
    </div>
</main>

<%- include('partials/footer') %>