<%- include('partials/header') %>

<main>
    <div class="background_box">
        <div>Pravila</div>
        <div class="strelica">
            
        </div>
    </div>
</main>

<%- include('partials/footer') %>