<%- include('partials/header') %>

<main>
    <div class="background_box">
        <div class="pravila">
            <h1 class="h1__title">Pravila nagradnog konkursa</h1>
            <!-- <h1 class="h1__title__pravila">»Samo uživaj i osvoji super nagrade «</h1> -->
            
            <p class="title">ORGANIZATOR I TRAJANJE KONKURSA</p>
            <p class="text">Organizator nagradnog konkursa »Samo uživaj i osvoji super nagrade «(U daljem tekstu: Konkurs) je  Atlantic Grand  d.o.o. Beograd, ul. Surčinska 6a.
                Konkurs traje u periodu od 5.11.2020. godine sa početkom u 12:00h do 6.12.2020. godine do 23:59 h i organizuje se na teritoriji Republike Srbije putem internet stranice 
                <a href="https://www.samouzivaj.rs" target="_blank">www.samouzivaj.rs.</a>
                
            </p>

            <p class="title">PRAVO UČESTVOVANJA</p>
            <p class="text">
                Pravo učešća u Konkursu imaju svi državljani i/ili rezidenti Republike Srbije, osim zaposlenih lica kod priređivača, „Atlantic Grand“ d.o.o. Beograd, povezanih pravnih lica ili bilo kog drugog pravnog 
                subjekta koji učestvuje u organizovanju ovog nagradnog konkursa, kao i članova uže porodice ovih lica, roditelja, dece i bračnih drugova. Maloletna lica imaju pravo da učestvuju u Konkursu u skladu sa zakonom.
            </p>
           
            <p class="title">MEHANIZAM UČESTVOVANJA</p>
            <p class="text">
                Za učestvovanje u Konkursu je potrebno:
              
              
            </p>
            <ul>
                <li>Kupiti minimalno 10 kesica bilo koje Insta Grand kafe na jednom računu u periodu od 5.11.2020 do 6.12.2020. godine;</li>
                <li>Registrovati se na internet stranici <a href="https://www.samouzivaj.rs" target="_blank">www.samouzivaj.rs</a>
                    popunjavanjem online formulara u koji se unosi jedinstveni redni broj fiskalnog računa, tzv. БИ broj, ime i prezime, e-mail adresa;
                </li>
                <li>Nakon uspešne registracije u svoj profil postaviti fotografiju ili video koji odgovara na temu konkursa “Pokaži šta je za tebe uživanje”</li>
            </ul> 
            <p class="text">Učesnici koji izvrše kupovinu na gore opisan način, na kasi dobijaju fiskalni račun na kom će se nalaziti redni broj fiskalnog računa, tzv. БИ broj. 
                Račun je potrebno sačuvati za sve vreme trajanja nagradnog konkursa, kao i nakon završetka, s obzirom da je prilikom preuzimanja nagrade, 
                dobitnik nagrade dužan da ovlašćenom licu pokaže na uvid originalni fiskalni račun na kome se nalazi jedinstveni redni broj fiskalnog računa,tzv. БИ broj, 
                koji je registrovan prilikom dobitne prijave, a kao dokaz o izvršenoj kupovini. U slučaju da dobitnik nema originalni fiskalni račun kao dokaz o izvršenoj kupovini, 
                ili da nije izvršena minimalna kupovina od 10 kesica bilo koje Insta Grand kafe, nagrada neće biti uručena.  U slučaju da dobitnik ispunjava gore navedene uslove potrebno 
                je da prilikom preuzimanja nagrade potpiše i zapisnik o preuzimanju nagrade.
                <br><br>
                Za sve informacije u vezi sa  Konkursom, učesnici se mogu obratiti Kontakt centru organizatora putem e-mail adrese 
                kontakcentarSRB@atlanticgrupa.com ili pozivom na broj 0800-200-003 radnim danima od 08h-16h (ponedeljak-petak) ili posetiti internet stranicu 
                <a href="https://www.samouzivaj.rs" target="_blank">www.samouzivaj.rs.</a> 
            </p>

            <p class="title">REGISTROVANJE I OTVARANJE PROFILA</p>
            <p class="text">
                Konkurs se realizuje na internet stranici  <a href="https://www.samouzivaj.rs" target="_blank">www.samouzivaj.rs</a>. <br><br>
                Učesnici mogu da otvore profil i učestvuju u Konkursu bilo kada u toku perioda trajanja Konkursa. 
                Jedan Učesnik može kreirati više profila ukoliko prilikom registracije unese novi БИ broj kao dokaz o novoj kupovini minimalno 10 kesica bilo koje Insta Grand kafe.<br>
                Učesnik se registruje popunjavanjem online formulara na internet stranici  <a href="https://www.samouzivaj.rs" target="_blank">www.samouzivaj.rs</a> 
                i to unošenjem sledećih informacija: ime i prezime, email adresa, jedinstveni broj fiskalnog računa, tzv. БИ broj. 
                <br><br>
                Ukoliko Učesnik bude imao problema prilikom registracije, a poseduje račun kao dokaz o kupovini minimalno 10 kesica Insta Grand kafe, 
                Učesnik treba da se obrati kontakt centru Atlantic Granda na besplatan broj telefona: 
                0800/200-003 radnim danima od 08h-16h (ponedeljak-petak). 
            </p>
          
            <p class="title">KREIRANJE SADRŽAJA NA PROFILU</p>
            <p class="text">
                Da odgovori na temu konkursa “Pokaži šta je za tebe uživanje” Učesnik na svom profilu ima na raspolaganju dva polja i to, jedno  polje za fotografiju i jedno za video kako bi iskazao/la svoju ideju. <br>
                Da bi prijava bila validna, potrebno je postaviti ili  fotografiju ili  video(moguće je postaviti i fotografiju i video). <br>
                Učesnici imaju mogućnost da dodatno obrazlože postavljeni materijal u polju za unos tekstualnog sadržaja (do 500 karaktera).  
                <br><br>
                Maksimalna veličina ukupnog okačenog materijala je 200 megabajta. 
            </p>
          
            <p class="title">OBJAVLJIVANJE PROFILA </p>
            <p class="text">
                Postavljeni sadržaj na registrovanom profilu postaje javan klikom na dugme Prijavi, a nakon odobrenja administratora Organizatora Konkursa koji vrši procenu da li je postavljeni sadržaj u skladu sa propozicijama Konkursa. 
                <br><br>
                Postavljeni sadržaj u okviru profila će biti vidljivi i javno dostupan za pregled na internet stranici <a href="https://www.samouzivaj.rs" target="_blank">www.samouzivaj.rs</a>. 
                Učesnici će dobiti obaveštenje putem e-mail-a da je njihova prijava odobrena/odbijena od strane administratora. Učesnici koji su postavili materijal kako bi učestvovali u Konkursu,
                 a čija je prijava odbijena, dalje ne učestvuju u Konkursu, osim ukoliko se na isti ne prijave ponovo, sa novim БИ brojem i novim kreativnim rešenjem.
            </p>
          
            <p class="title">IZBOR DOBITNIKA </p>
            <p class="text">
                Konkurs se sastoji iz četiri kruga. Žiri proglašava najkreativnije profile na kraju svakog kruga Konkursa, a počev od 16.11.2020. godine. 
                Žiri čine zaposleni u Atlantic Grand-u: menadžer za izgradnju brenda Vanja Vukadin, specijalista za digitalni marketing Ivana Mijatović i marketing asistent Jovana Ilić.  
                <br><br>
                Isti profil ne može dva puta osvojiti nagradu, ali jedan učesnik može da otvori više profila koristeći različite БИ brojeve. 
            </p>
          
            <p class="title">KRUGOVI KONKURSA </p>
            <p class="text">
                Konkurs će biti realizovan kroz četiri kruga. 
                <br><br>
                Prvi krug konkursa traje od 5.11.2020. u 12:00h do 15.11.2020. u 23:59h. <br>
                Drugi krug konkursa traje od 16.11.2020. u 00:00h do 22.11.2020. u 23:59h. <br>
                Treći krug konkursa traje od 23.11.2020. u 00:00h do 29.11.2020. u 23:59h. <br>
                Četvrti krug konkursa traje od 30.11.2020. u 00:00h do 6.12.2020. u 23:59h. <br>
                <br><br>
                Vremenski period krugova se odnosi na vreme prijave Profila, a ne na vreme objavljivanja Profila na sajtu. 
            </p>
          
            <p class="title">PROGLAŠENJE POBEDNIKA</p>
            <p class="text">
                Žiri bira po šest najkreativnijih profila na kraju svakog kruga Konkursa:
            </p>
            <ol>
                <li><strong> 16.11.2020. do 14h:</strong> u izboru učestvuju svi učesnici čije prijave Profila su primljene u periodu od 5.11.2020. od 12:00h do 15.11.2020. u 23:59h.</li>
                <li><strong>23.11.2020. do 14h:</strong> u izboru učestvuju svi učesnici čije prijave Profila su primljene u periodu od 5.11.2020. od 12h do 22.11.2020. do 23:59h, a prethodno prijavljeni Profili nisu proglašeni kao dobitnici.</li>
                <li><strong>30.11.2020 do 14h:</strong> u izboru učestvuju svi učesnici čije prijave Profila su primljene u periodu od 5.11.2020. od 12h do 29.11.2020. do 23:59h, a prethodno prijavljeni Profili nisu proglašeni kao dobitnici.</li>
                <li><strong>7.12.2020. do 14h:</strong> u izboru učestvuju svi učesnici čije prijave Profila su primljene u periodu od 5.11.2020. od 12h do 6.12.2020. do 23:59h, a prethodno prijavljeni Profili nisu proglašeni kao dobitnici.</li>
            </ol>
            <p class="text">
                Jednom prijavljen profil učestvuje u Nagradnom konkursu od trenutka objavljivanja do kraja Konkursa. <strong> Svaki profil koji ne bude dobitni u prethodnim krugovima učestvuje u daljem Konkursu.</strong> <br><br>
                Svi pobednički profili će biti objavljeni na internet stranici <a href="https://www.samouzivaj.rs" target="_blank">www.samouzivaj.rs</a> , u delu Dobitnici, tačnije Ime, Prezime i materijal pobedničkih profila. 
            </p>

            <p class="title">FOND NAGRADA   </p>
            <p class="text">
                Žiri će na kraju svakog kruga, a prema kriterijumu kreativnosti odabrati šest dobitnih profila, a nagrade će biti dodeljene prema sledećem redosledu: 
            </p>
            <ol>
                <li>Mesto: Apple iPhone 11 64GB</li>
                <li>Mesto: JBL Charge 4 Waterproof portable Bluetooth® zvučnik</li>
                <li>Mesto: JBL bežične slušalice TUNE 220TWS </li>
                <li>Mesto: poklon paket Insta Grand kafe( 60 kesica Insta Grand kafe i šolja)</li>
                <li>Mesto: poklon paket Insta Grand kafe( 60 kesica Insta Grand kafe i šolja)</li>
                <li>Mesto: poklon paket Insta Grand kafe( 60 kesica Insta Grand kafe i šolja)</li>
            </ol>

            <p class="text">
                Ukupan nagradni fond čine: <br>
                4 x Apple iPhone 11 64GB <br>
                4 x JBL Charge 4 Waterproof portable Bluetooth® zvučnik <br>
                4 x JBL bežične slušalice TUNE 220TWS <br>
                12 x paket Insta Grand kafe <br>
            </p>

            <p class="title">PREUZIMANJE NAGRADE</p>
            <p class="text">
                Učesnici čiji profili nakon svakog kruga budu proglašeni kao pobednički biće kontaktirani putem email adrese koju su ostavili prilikom prijave. Organizator će ih kontaktirati u roku od 7 dana putem email adrese 
                koju su naveli prilikom prijave na Konkurs, kako bi usledio dogovor oko isporučivanja nagrade. Nagrade će biti poslate dobitnicima na kućnu adresu, ukoliko ne bude 
                drugačije dogovoreno između Organizatora i dobitnika, u roku od 30 dana od dana kontaktiranja dobitnika nagrade. Prilikom preuzimanja nagrade, dobitnik nagrade dužan je da 
                potpiše Zapisnik o preuzimanju nagradei da ovlašćenom licu pokaže na uvid original fiskalni račun na kome se nalazi jedinstveni redni broj fiskalnog računa,tzv. БИ broj, a kao 
                dokaz o izvršenoj kupovini, kao i fotokopiju obe strane lične karte ili primerak očitane lične karte.<br>
                <br>
                Ukoliko je dobtinik nagrade maloletna osoba, Organizator će uručiti nagradu osobi koja je po zakonu ili odluci državnog organa 
                dužna da se stara o njoj, a nakon uvida u isprave koje dokazuju roditeljski odnosno starateljski odnos.
                <br>
                Ukoliko dobitnik neke od nagrada iz ovog konkursa ne odgovori na poruku, koja mu bude poslata, u periodu od 3 dana od dana kontaktiranja, 
                ili nagrada ne bude uručena krivicom  dobitnika u roku od 30 dana od dana kontaktiranja, smatraće se da je dobitnik odustao od nagrade, a 
                Organizator nije dalje u obavezi da nagradu isporuči.  Nagrade nisu zamenjive za novac niti druge nagrade.
            </p>

            <p class="title">UČESTVOVANJE U NAGRADNOM KONKURSU</p>
            <p class="text">
                Učesnici su dužni da pročitaju ova pravila pre nego što uzmu učešće, a pre nego što nastave, trebalo bi da odštampaju ili sačuvaju kopiju ovih pravila za svoju arhivu. <br>
                <br>
                Prijavom za učestvovanje na ovom konkursu smatra se da je svaki učesnik pročitao/la ova pravila, da ih je razumeo u celosti i dao saglasnost za sledeće: 
                <br>
                Kao učesnik u nagradnom konkursu, saglasan/a sam sa davanjem mojih podataka o ličnosti. <br>
                Takođe sam saglasan/a da materijali nastali tokom realizacije ovog konkursa mogu da se koriste u promotivne i druge marketinške svrhe. <br>
                Obavešten/a sam da se moji podaci kao što su ime i prezime, e-mail, prikupljaju isključivo zbog identifikacije dobitnika nagrade. <br>
                Takođe sam obavešten/a o svom pravu da svoj pristanak na davanje podataka o ličnosti opozovem, kao i svojim pravima u slučaju nedozvoljene obrade. <br> 
                Pristajem da budem kontaktiran od strane Atlantic Grand-a u vezi ovog konkursa. <br>
                Potvrđujem da sam upoznat sa pravom Atlantic Grand-a da pri realizaciji ovog nagradnog konkursa ne prihvati ili ukloni sve materijale koje 
                po svom nahođenju smatra neprihvatljivim zbog toga što nisu u skladu sa propisima ili nisu u skladu sa pozitivnim vrednostima koje 
                Atlantic Grand promoviše (biće uklonjeni materijali koji se dovode u vezu sa: nasiljem, pozivanjem na nasilje, nacionalnu, versku, 
                rasnu ili bilo koju drugu vrstu netrpeljivosti i koje nisu u skladu sa internom politikom promovisanja brenda – dovođenje brenda u lošu konotaciju, itd.). 
            </p>
            <p class="title">PRENOS PRAVA NA KORIŠĆENJE MATERIJALA </p>
            <p class="text">
                Učestvovanjem, pobednici Konkursa izričito izjavljuju da organizatoru prenose neograničeno pravo na materijalna prava na priložen materijal. <br>
                Pobednici takmičenja dodatno prenose sva autorska prava, prostorno, vremenski i sadržajno neograničeno, bez obzira na načine i tehnička rešenja za korišćenje, obradu materijala. <br>
                Pobednici prenose sva materijalna prava na sadržaj Organizatoru, uključujući i pravo na obradu. <br>
                <br>
                 Autorska prava uključuju, između ostalog: 
                <br><br>
                - pravo na reprodukciju; <br>
                <br>
                - korišćenje dela u ne celovitom obliku (saopštenje za javnost) obuhvata naročito sledeća prava: <br>
                a) pravo na javno izvođenje<br>
                b) pravo javnog prenosa<br>
                c) pravo javnog emitovanja sa fonogramima i videogramima<br>
                d) pravo na javno izlaganje<br>
                e) pravo emitovanja<br>
                f) pravo emitovanja retransmisije<br>
                g) pravo sekundarnog emitovanja<br>
                h) pravo stavljanja na raspolaganje javnosti.
                <br><br>
                - Korišćenje dela u modifikovanom obliku obuhvata naročito sledeća prava:<br>
                a) pravo na obradu<br>
                b) pravo na audiovizuelnu adaptaciju
                <br><br>
                - Korišćenje dela zaštićenog autorskim pravima uključuje sledeće pravo:
                <br><br>
                a) pravo na distribuciju<br>
                b) pravo da se delo dalje iznajmi
                <br><br>
                Takođe su obuhvaćena sva druga autorska prava i njihove izvedbe za poznate i nepoznate oblike upotrebe i tehničku i drugu upotrebu prava.<br>
                <br>
                Organizator može neograničeno preneti stečena autorska prava na treća lica, sa čime se pobednik izričito slaže.
                <br><br>
                Pobednik izričito izjavljuje da je jedini vlasnik svih autorskih prava na priložen materijal i i garantuje da autorsko delo koje je predmet ovog ugovora ne sadrži prava trećih lica, autorska prava ili bilo koji drugi naslov.
            </p>

            <p class="title">ODGOVORNOST ORGANIZATORA </p>
            <p class="text">
                Organizator nagradnog konkursa zadržava pravo na dopune i izmene ovih uslova i obavezuje se da će svaku njihovu izmenu ili dopunu objaviti na internet stranici <a href="https://www.samouzivaj.rs" target="_blank">www.samouzivaj.rs</a> .<br>
                <br>
                Organizator ne preuzima nikakvu odgovornost <br>
                -za bilo kakve incidente ili povrede koji bi nastale usled korišćenja (upotrebe i/ili konzumiranja) dodeljenih nagrada, sa čime se nagrađeni izričito saglašavaju i prihvataju;<br>
                -u slučaju nepravilnog rada interneta, (ne)funkcionisanja interneta ili (ne)funkcionisanja elektronske pošte, telefonskih linija ili ostalih uređaja koji omogućavaju realizaciju ovog nagradnog konkursa;<br>
                - ako jedan ili više učesnika ne može da pristupi internet stranici ili da učestvuje u nagradnom konkursu iz bilo kog razloga ili tehničke greške, vezane za funkcionisanje mreže;<br>
                - u slučaju da je računar zaražen virusima ili za upad trećeg lica u računar učesnika nagradnog konkursa, kao ni za posledice povezivanja učesnika u mrežu putem internet stranice;<br>
                -za štetu pričinjenu učesniku, njegovoj računarskoj opremi, pametnom telefonu ili podacima pohranjenim na ovim uređajima, kao ni za lične i profesionalne posledice koje iz toga mogu proizaći za učesnika.
                <br><br>
                Organizator zadržava pravo da, u slučaju prevremenog prekida nagradnog konkursa iz razloga za koje nije odgovoran (viša sila i sl.), nagrade podeli između onih koji su učestvovali u nagradnom konkursu do trenutka prekida ili da nagradni konkurs, bez bilo kakvih obaveza prema učesnicima, ne okonča, odnosno prekine ga. O tome mora, putem medija, obavestiti učesnike. Organizator u tim slučajevima ne odgovara za eventualnu nastalu štetu.
            </p>

            <p class="title">ZAŠTITA PODATAKA O LIČNOSTI</p>
            <p class="text">
                Svi  podaci su zaštićeni u skladu sa važećim zakonom o zaštiti podataka o ličnosti. Shodno tome, isto važi i za pravo na vlastiti lik (pravo ličnosti) koji se odnosi na pravo 
                Organizatora da se materijali sa likom učesnika i ličnim podacima reprodukuju, distribuiraju i javno saopštavaju i/ili koriste na bilo koji drugi način.
                <br><br>
                Učesnici nagradnog konkursa se izričito saglašavaju da Organizator koristi njihove podatke, koje su učesnici naveli u okviru učešća u nagradnom konkursu, 
                za potrebe ovog nagradnog konkursa i to do opoziva. Učešćem se učesnik saglašava da Organizatoru nagradnog konkursa ili od njega ovlašćenim licima, odnosno saugovaračima 
                dozvoli korišćenje svojih  podataka o ličnosti(kontaktni podaci: elektronska adresa) 
                u cilju obaveštavanja o akcijama, novim proizvodima, nagradnim igrama i drugim promotivnim aktivnostima, sa mogućnošću odjave.
                <br><br>
                Pravila o zaštiti privatnosti Organizatora: <a href="https://www.grandkafa.rs/rs/pravila/pravila-zastite-privatnosti" target="_blank">https://www.grandkafa.rs/rs/pravila/pravila-zastite-privatnosti</a> 
                <br><br>
                U periodu upravljanja podacima o ličnosti pojedinac ima mogućnost uvida i ažuriranja podataka u bazi podataka, kao i da zahteva brisanje podataka, slanjem zahteva na e-mail <u>kontaktcentarSRB@atlanticgrupa.com</u>. 
                Učesnik je upoznat i izričito se slaže da organizator može pojedine radnje u vezi sa obradom dobijenih podataka o ličnosti poveriti Agenciji, 
                odnosno drugom ugovornom obrađivaču u i/ili izvan EU. Ugovorni obrađivač može da obrađuje podatke o ličnosti samo u granicama ovlašćenja, odnosno narudžbine koju dobije od naručioca, u skladu sa definisanim namenama.
            </p>

            <p class="title">PORESKE OBAVEZE</p>
            <p class="text">
                Nagrade u ovom konkursu podležu oporezivanju. <br>
                Organizator će za nagrađene, koji prime nagradu, na vrednost nagrade preko neoporezivog iznosa obračunati i uplatiti porez na dohodak građana na dinarsku protivvrednost 
                obračunatu po srednjem kursu Narodne Banke Srbije na dan prijema nagrade, u skladu sa članom 85. tačka 10.  Zakona o porezu na dohodak građana RS, po stopi od 20%. <br>
                Nagrađeni imaju obavezu da Organizatoru prilikom potpisivanja izjave o preuzimanju nagrade dostave lične podatke, fotokopiju lične karte ili očitanu ličnu kartu ukoliko je biometrijska, 
                zbog obračuna i uplate poreza na dohodak građana prilikom preuzimanja nagrade. 
            </p>
            <p class="title">PRISTUP PRAVILIMA NAGRADNOG KONKURSA</p>
            <p class="text">
                Pravila Konkursa objavljena su na internet stranici <a href="https://www.samouzivaj.rs" target="_blank">www.samouzivaj.rs</a> gde su dostupna i stavljena na uvid svim učesnicima.
            </p>
            <p class="title">OSTALE ODREDBE</p>
            <p class="text">
                Odluka Organizatora o svim pitanjima u vezi sa nagradnim konkursom i pravilima, povezanih sa njim, konačna je i važi za sve učesnike. 
                U slučaju bilo kakvog spora ili nejasnoća, ova pravila se smatraju primarnim u odnosu na sva eventualna druga obaveštenja, bilo u štampanom, 
                elektronskom ili bilo kakvom drugom obliku. Autentično tumačenje ovih pravila utvrđuje isključivo Organizator.
                <br><br>
                Organizator zadržava pravo na promenu ovih Pravila, na prekid nagradnog konkursa ili potpuno zaustavljanje nagradnog konkursa, ako to nalažu 
                pravni, tehnički ili komercijalni razlozi. O svim eventualnim promenama Organizator će obavestiti učesnike obaveštenjem na internet stranici <a href="https://www.samouzivaj.rs" target="_blank">www.samouzivaj.rs</a>.  
                <br><br>
                U slučaju spora, primeniće se pravo Republike Srbije i nadležnost suda u Beogradu.
                <br><br>
                U Beogradu, 5.11.2020.
                <br>
                Organizator
                <br>
                Atlantic Grand doo Beograd
            </p>
        </div>
 
    </div>
</main>

<%- include('partials/footer') %>