<%- include('partials/header') %>

<main>
    <div class="background_box">
        <div class="pravila">
            <h1>Pravila nagradnog konkursa</h1>
            <p class="title">1 Naslov</p>
            <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Voluptatum aliquam nisi, facere quisquam mollitia praesentium inventore dolor aut. 
                Quaerat aspernatur expedita vel dolore placeat officia beatae. 
                Reiciendis totam vitae facilis!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Voluptatum aliquam nisi, facere quisquam mollitia praesentium inventore dolor aut. 
                Quaerat aspernatur expedita vel dolore placeat officia beatae. 
                Reiciendis totam vitae facilis!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Voluptatum aliquam nisi, facere quisquam mollitia praesentium inventore dolor aut. 
                Quaerat aspernatur expedita vel dolore placeat officia beatae. 
                Reiciendis totam vitae facilis!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Voluptatum aliquam nisi, facere quisquam mollitia praesentium inventore dolor aut. 
                Quaerat aspernatur expedita vel dolore placeat officia beatae. 
                Reiciendis totam vitae facilis!
            </p>
            <p class="title">2 Naslov</p>
            <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Voluptatum aliquam nisi, facere quisquam mollitia praesentium inventore dolor aut. 
                Quaerat aspernatur expedita vel dolore placeat officia beatae. 
                Reiciendis totam vitae facilis!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Voluptatum aliquam nisi, facere quisquam mollitia praesentium inventore dolor aut. 
                Quaerat aspernatur expedita vel dolore placeat officia beatae. 
                Reiciendis totam vitae facilis!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Voluptatum aliquam nisi, facere quisquam mollitia praesentium inventore dolor aut. 
                Quaerat aspernatur expedita vel dolore placeat officia beatae. 
                Reiciendis totam vitae facilis!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Voluptatum aliquam nisi, facere quisquam mollitia praesentium inventore dolor aut. 
                Quaerat aspernatur expedita vel dolore placeat officia beatae. 
                Reiciendis totam vitae facilis!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Voluptatum aliquam nisi, facere quisquam mollitia praesentium inventore dolor aut. 
                Quaerat aspernatur expedita vel dolore placeat officia beatae. 
                Reiciendis totam vitae facilis!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Voluptatum aliquam nisi, facere quisquam mollitia praesentium inventore dolor aut. 
                Quaerat aspernatur expedita vel dolore placeat officia beatae. 
                Reiciendis totam vitae facilis!
            </p>
            <p class="title">3 Naslov</p>
            <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Voluptatum aliquam nisi, facere quisquam mollitia praesentium inventore dolor aut. 
                Quaerat aspernatur expedita vel dolore placeat officia beatae. 
                Reiciendis totam vitae facilis!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Voluptatum aliquam nisi, facere quisquam mollitia praesentium inventore dolor aut. 
                Quaerat aspernatur expedita vel dolore placeat officia beatae. 
                Reiciendis totam vitae facilis!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Voluptatum aliquam nisi, facere quisquam mollitia praesentium inventore dolor aut. 
                Quaerat aspernatur expedita vel dolore placeat officia beatae. 
                Reiciendis totam vitae facilis!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Voluptatum aliquam nisi, facere quisquam mollitia praesentium inventore dolor aut. 
                Quaerat aspernatur expedita vel dolore placeat officia beatae. 
                Reiciendis totam vitae facilis!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Voluptatum aliquam nisi, facere quisquam mollitia praesentium inventore dolor aut. 
                Quaerat aspernatur expedita vel dolore placeat officia beatae. 
                Reiciendis totam vitae facilis!
            </p>
            <p class="title">4 Naslov</p>
            <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Voluptatum aliquam nisi, facere quisquam mollitia praesentium inventore dolor aut. 
                Quaerat aspernatur expedita vel dolore placeat officia beatae. 
                Reiciendis totam vitae facilis!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Voluptatum aliquam nisi, facere quisquam mollitia praesentium inventore dolor aut. 
                Quaerat aspernatur expedita vel dolore placeat officia beatae. 
                Reiciendis totam vitae facilis!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Voluptatum aliquam nisi, facere quisquam mollitia praesentium inventore dolor aut. 
                Quaerat aspernatur expedita vel dolore placeat officia beatae. 
                Reiciendis totam vitae facilis!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Voluptatum aliquam nisi, facere quisquam mollitia praesentium inventore dolor aut. 
                Quaerat aspernatur expedita vel dolore placeat officia beatae. 
                Reiciendis totam vitae facilis!
            </p>
            <p class="title">4 Naslov</p>
            <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Voluptatum aliquam nisi, facere quisquam mollitia praesentium inventore dolor aut. 
                Quaerat aspernatur expedita vel dolore placeat officia beatae. 
                Reiciendis totam vitae facilis!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Voluptatum aliquam nisi, facere quisquam mollitia praesentium inventore dolor aut. 
                Quaerat aspernatur expedita vel dolore placeat officia beatae. 
                Reiciendis totam vitae facilis!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Voluptatum aliquam nisi, facere quisquam mollitia praesentium inventore dolor aut. 
                Quaerat aspernatur expedita vel dolore placeat officia beatae. 
                Reiciendis totam vitae facilis!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Voluptatum aliquam nisi, facere quisquam mollitia praesentium inventore dolor aut. 
                Quaerat aspernatur expedita vel dolore placeat officia beatae. 
                Reiciendis totam vitae facilis!
            </p>
        </div>
        <div class="strelica">
            
        </div>
    </div>
</main>

<%- include('partials/footer') %>