<%- include('partials/header') %>

<main>
    <div class="background_box">
        <div class="galerija">
            <h1>Galerija</h1>
            <div class="grid_holder">
                <div class="grid_box">
                    <div class="img_holder">
                        <img src="/images/image_placeholder.png"
                            alt="Gallery image"
                        >
                        <div class="text_holder">
                            <p class="text_no_hover">Ana Markovic</p>
                            <div class="text_on_hover">
                                <p class="name">Ana Markovic</p>
                                <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                    Tenetur voluptas soluta magni explicabo maiores officia, voluptate quaerat hic velit rem neque, 
                                    nostrum sint obcaecati sit, distinctio ut nobis possimus. Voluptates!</p>
                            </div>
                        </div>
                    </div>
                    <img class="share_on_facebook" src="/images/share_icon.png" alt="Share on facebook">
                </div>
                <div class="grid_box">
                    <div class="img_holder">
                        <img src="/images/image_placeholder.png"
                            alt="Gallery image"
                        >
                        <div class="text_holder">
                            <p class="text_no_hover">Ana Markovic</p>
                            <div class="text_on_hover">
                                <p class="name">Ana Markovic</p>
                                <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                    Tenetur voluptas soluta magni explicabo maiores officia, voluptate quaerat hic velit rem neque, 
                                    nostrum sint obcaecati sit, distinctio ut nobis possimus. Voluptates!</p>
                            </div>
                        </div>
                    </div>
                    <img class="share_on_facebook" src="/images/share_icon.png" alt="Share on facebook">
                </div>
                <div class="grid_box">
                    <div class="img_holder">
                        <img src="/images/image_placeholder.png"
                            alt="Gallery image"
                        >
                        <div class="text_holder">
                            <p class="text_no_hover">Ana Markovic</p>
                            <div class="text_on_hover">
                                <p class="name">Ana Markovic</p>
                                <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                    Tenetur voluptas soluta magni explicabo maiores officia, voluptate quaerat hic velit rem neque, 
                                    nostrum sint obcaecati sit, distinctio ut nobis possimus. Voluptates!</p>
                            </div>
                        </div>
                    </div>
                    <img class="share_on_facebook" src="/images/share_icon.png" alt="Share on facebook">
                </div>
                <div class="grid_box">
                    <div class="img_holder">
                        <img src="/images/image_placeholder.png"
                            alt="Gallery image"
                        >
                        <div class="text_holder">
                            <p class="text_no_hover">Ana Markovic</p>
                            <div class="text_on_hover">
                                <p class="name">Ana Markovic</p>
                                <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                    Tenetur voluptas soluta magni explicabo maiores officia, voluptate quaerat hic velit rem neque, 
                                    nostrum sint obcaecati sit, distinctio ut nobis possimus. Voluptates!</p>
                            </div>
                        </div>
                    </div>
                    <img class="share_on_facebook" src="/images/share_icon.png" alt="Share on facebook">
                </div>
                <div class="grid_box">
                    <div class="img_holder">
                        <img src="/images/image_placeholder.png"
                            alt="Gallery image"
                        >
                        <div class="text_holder">
                            <p class="text_no_hover">Ana Markovic</p>
                            <div class="text_on_hover">
                                <p class="name">Ana Markovic</p>
                                <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                    Tenetur voluptas soluta magni explicabo maiores officia, voluptate quaerat hic velit rem neque, 
                                    nostrum sint obcaecati sit, distinctio ut nobis possimus. Voluptates!</p>
                            </div>
                        </div>
                    </div>
                    <img class="share_on_facebook" src="/images/share_icon.png" alt="Share on facebook">
                </div>
              
               
            </div>
        </div>
        <div class="strelica">
            
        </div>
    </div>
</main>

<%- include('partials/footer') %>