<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Samo uživaj!</title>

    <link href="/stylesheets/styles.css" rel="stylesheet" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-NSCMV16K46"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-NSCMV16K46');
    </script>
</head>

<body>
    <div class="uskoro">
        <div class="uskoro__header">
            <img src="/images/prijava_traka_strana.png" alt="Traka Insta Grand">
            <div>
                <p>#SamoUzivaj</p>
                <p>i OSVOJI SUPER NAGRADE</p>
            </div>
        </div>
    </div>
    <div class="uskoro__main_div">
        <div class="uskoro__nagrade">
            <div class="uskoro_iphone_traka">
                <img src="/images/nagrade_iphone.png" alt="IPHONE" class="img__iphone">
                <p class="white_text">4x IPHONE 11</p>
                <div class="img__traka_uskoro">
                    <p class="img__traka_text">
                        USKORO
                    </p>
                    <img class="img__traka_img" src="/images/najava_uskoro_traka.png" alt="Uskoro traka">
                </div>
            </div>
            <div class="uskoro__sporedne_nagrade">
                <div class="zvucnik_box">
                    <img src="/images/nagrade_zvucnik.png" alt="Zvucnik" class="zvucnik">
                    <p>4x JBL CHARGE 4 <br> ZVUČNIK</p>
                </div>
                <div class="slusalice_box">
                    <img src="/images/nagrade_slusalice.png" alt="Slusalice" class="slusalice">
                    <p>4x JBL TUNE 220 SLUŠALICE</p>

                </div>
                <div class="paket_box">
                    <img src="/images/nagrade_paket.png" alt="Grand poklon paket" class="paket">
                    <p>12x INSTA GRAND <br> POKLON PAKETA</p>

                </div>
            </div>
        </div>
        <div class="uskoro__kafa_bottom_box">
            <img src="/images/najava_kesice.png" alt="3u1 kafa" class="kesice">
            <img src="/images/prijava_desno_solja_i_kafa.png" alt="Solja kafe" class="solja">
        </div>
        <div class="background_strelica">

        </div>
    </div>
    <div class="uskoro__footer">
        <div class="footer__datumi">
            <p>Konkurs traje od</p>
            <p>05.11.2020. do 06.12.2020.</p>
        </div>
        <div class="footer__network">
            <a target="_blank" href="https://www.facebook.com/instagrandkafa">
                <img src="/images/prijava_face_icon.png" alt="Facebook icon" />
                <p>Insta Grand</p>
            </a>
            <a target="_blank" href="https://www.instagram.com/instagrandkafa">
                <img src="/images/prijava_insta_icon.png" alt="Instagram icon" />
                <p>instagrandkafa</p>
            </a>
        </div>
    </div>
</body>

</html>