@font-face {
  font-family: "Roboto-Regular";
  src: url("/fonts/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Black";
  src: url("/fonts/Roboto-Black.ttf") format("truetype");
}
@font-face {
  font-family: "AntennaComp-Bold";
  src: url("/fonts/AntennaComp-Bold.otf") format("truetype");
}
@font-face {
  font-family: "AntennaComp-BoldItalic";
  src: url("/fonts/AntennaComp-BoldItalic.otf") format("truetype");
}
@font-face {
  font-family: "AntennaComp-MediumItalic";
  src: url("/fonts/AntennaComp-MediumItalic.otf") format("truetype");
}
html {
  font-size: 12px;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
  min-height: 100%;
  font-family: "Roboto-Black";
  background-color: #ffcc00;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  flex: 3;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

a:active {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

.hide {
  display: none !important;
}

.disable-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.mobile {
  display: flex;
}
@media (min-width: 992px) {
  .mobile {
    display: none;
  }
}

.desktop {
  display: none;
}
@media (min-width: 992px) {
  .desktop {
    display: flex;
  }
}

.documentWrapper {
  flex-direction: column;
}

.background_box {
  background: radial-gradient(600px at bottom, #674537, #000 55%);
  height: 95vh;
  min-height: 500px;
  position: relative;
  width: 100%;
}

.strelica {
  border-top: 100px solid transparent;
  border-left: 50vw solid #ffcc00;
  border-right: 50vw solid #ffcc00;
  content: "";
  height: 0;
  left: 0;
  bottom: 0;
  width: 0;
  position: absolute;
}

@media (min-width: 992px) {
  .documentWrapper {
    flex-direction: row;
    align-items: flex-start;
  }

  .background_box {
    background: radial-gradient(1000px at bottom, #674537, #000 90%);
  }

  .strelica {
    border-top: 150px solid transparent;
    border-left: calc(50vw - 200px) solid #ffcc00;
    border-right: calc(50vw - 200px) solid #ffcc00;
  }
}
.uskoro {
  background-color: #ffcc00;
  font-family: "AntennaComp-Bold";
  font-style: italic;
  justify-content: flex-start;
}

.uskoro__header {
  position: relative;
  height: 135px;
  flex-direction: row;
}
.uskoro__header img {
  width: 80px;
  position: relative;
  left: 5px;
  bottom: 25px;
}
.uskoro__header div {
  align-items: flex-start;
  width: fit-content;
}
.uskoro__header p {
  margin: 0;
  margin-left: 15px;
  font-size: 34pt;
  line-height: 1;
}

.uskoro__main_div {
  background: radial-gradient(600px at bottom, #674537, #000 55%);
  display: inline-block;
  height: 80vh;
  min-height: 500px;
  position: relative;
  width: 100vw;
}

.background_strelica {
  border-top: 100px solid transparent;
  border-left: 50vw solid #ffcc00;
  border-right: 50vw solid #ffcc00;
  content: "";
  height: 0;
  left: 0;
  bottom: 0;
  width: 0;
  position: absolute;
}

.uskoro__nagrade {
  align-items: flex-start;
  position: relative;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 30px;
}

.uskoro_iphone_traka {
  position: relative;
  align-items: flex-start;
  width: fit-content;
}
.uskoro_iphone_traka .img__iphone {
  width: 170px;
  z-index: 1;
}
.uskoro_iphone_traka .img__traka_uskoro {
  position: absolute;
  top: 12px;
  left: 95px;
}
.uskoro_iphone_traka .img__traka_uskoro img {
  max-width: unset;
  height: 60px;
}
.uskoro_iphone_traka .img__traka_uskoro p {
  position: absolute;
  font-size: 36pt;
  font-family: "AntennaComp-Bold";
  color: #000;
  font-style: italic;
  margin-left: 80px;
}
.uskoro_iphone_traka p {
  color: #fff;
  font-size: 12pt;
  margin: 0;
  width: 180px;
  text-align: center;
}

.uskoro__sporedne_nagrade {
  position: absolute;
  width: auto;
  top: 80px;
  left: 180px;
}
.uskoro__sporedne_nagrade img {
  width: 100px;
}
.uskoro__sporedne_nagrade p {
  color: #fff;
  margin-top: 0;
  word-wrap: none;
}
.uskoro__sporedne_nagrade .slusalice {
  width: 60px;
}

.uskoro__kafa_bottom_box {
  position: absolute;
  bottom: -35px;
  z-index: 1;
}
.uskoro__kafa_bottom_box .kesice {
  width: 120px;
  right: 50%;
  transform: translateX(-10px);
  position: absolute;
}
.uskoro__kafa_bottom_box .solja {
  width: 170px;
  z-index: 1;
}

.uskoro__footer {
  margin-top: 35px;
}
.uskoro__footer .footer__datumi {
  font-family: "AntennaComp-Bold";
  font-size: 14pt;
  flex-direction: row;
}
.uskoro__footer .footer__network {
  font-family: "Roboto-Regular";
}

@media (min-width: 992px) {
  .uskoro__main_div {
    background: radial-gradient(1000px at bottom, #674537, #000 58%);
    height: 70vh;
    min-height: 850px;
    position: relative;
    width: 100vw;
    justify-content: center;
  }

  .background_strelica {
    border-top: 170px solid transparent;
    border-left: 50vw solid #ffcc00;
    border-right: 50vw solid #ffcc00;
  }

  .uskoro__nagrade {
    align-items: center;
    max-width: 600px;
  }
  .uskoro__nagrade .uskoro_iphone_traka {
    transform: translateX(-50%);
  }
  .uskoro__nagrade .uskoro_iphone_traka .img__iphone {
    width: 500px;
  }
  .uskoro__nagrade .uskoro_iphone_traka .img__traka_uskoro {
    top: 35px;
    left: 400px;
  }
  .uskoro__nagrade .uskoro_iphone_traka .img__traka_uskoro img {
    height: 150px;
  }
  .uskoro__nagrade .uskoro_iphone_traka .img__traka_uskoro p {
    font-size: 100pt;
    margin-left: 0;
  }
  .uskoro__nagrade .uskoro_iphone_traka .white_text {
    margin-left: 180px;
  }

  .uskoro__header {
    height: 250px;
    align-items: center;
    flex-direction: row;
  }
  .uskoro__header img {
    width: 150px;
    position: relative;
    bottom: 50px;
  }
  .uskoro__header p {
    margin: 0;
    margin-left: 20px;
    font-size: 50pt;
    line-height: 1;
  }

  .uskoro__sporedne_nagrade {
    width: 100%;
    left: 200px;
    top: 200px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-template-areas: "zvucnik slusalice" "paket paket";
  }
  .uskoro__sporedne_nagrade .zvucnik_box {
    grid-area: zvucnik;
  }
  .uskoro__sporedne_nagrade .slusalice_box {
    grid-area: slusalice;
  }
  .uskoro__sporedne_nagrade .paket_box {
    grid-area: paket;
  }
  .uskoro__sporedne_nagrade .zvucnik {
    width: 270px;
  }
  .uskoro__sporedne_nagrade .slusalice {
    width: 150px;
  }
  .uskoro__sporedne_nagrade .paket {
    width: 250px;
  }

  .uskoro__kafa_bottom_box .kesice {
    width: 170px;
    transform: translateX(-30px);
  }
  .uskoro__kafa_bottom_box .solja {
    width: 250px;
  }

  .uskoro__footer {
    flex-direction: row;
    margin-top: 0;
    padding-bottom: 20px;
  }
  .uskoro__footer .footer__datumi {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 50px;
    font-size: 20pt;
  }
  .uskoro__footer .footer__datumi p {
    margin: 0;
  }
  .uskoro__footer .footer__network {
    margin-left: 50%;
  }
  .uskoro__footer .footer__network div {
    flex-direction: row;
    justify-content: flex-start;
  }
  .uskoro__footer .footer__network img {
    width: 15px;
  }
  .uskoro__footer .footer__network p {
    margin: 5px 0 5px 5px;
    font-size: 12pt;
  }
}
.navbar_box {
  position: absolute;
  top: 135px;
  z-index: 1;
  color: #fff;
  font-family: "Roboto-Regular";
  color: #ffcc00;
}
.navbar_box ul {
  position: absolute;
  top: 50px;
  left: 0;
  padding: 15px;
  background-color: #000;
}
.navbar_box li {
  list-style: none;
}
.navbar_box .hamburger {
  position: absolute;
  top: 15px;
  left: 15px;
}

#leftSection {
  height: 135px;
  flex-direction: row;
  font-family: "AntennaComp-Bold";
  color: #000;
  font-style: italic;
}
#leftSection div {
  align-items: flex-start;
  width: fit-content;
}
#leftSection .header__prelomni_text {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
#leftSection p {
  margin: 0;
  margin-left: 15px;
  font-size: 34pt;
  line-height: 1;
  white-space: nowrap;
}

.insta_grand_traka {
  width: 80px;
  position: relative;
  left: 5px;
  bottom: 25px;
}

@media (min-width: 992px) {
  .navbar_box {
    top: 0;
  }
  .navbar_box .hamburger {
    display: none;
  }
  .navbar_box ul {
    display: flex;
    justify-content: space-evenly;
    width: calc(100vw - 400px);
    margin-top: 40px;
    font-size: 12pt;
    position: relative;
    top: 0;
    background-color: transparent;
  }

  #leftSection {
    width: 200px;
    height: 70vh;
    flex-direction: column;
    justify-content: flex-start;
  }
  #leftSection div {
    margin: auto;
  }
  #leftSection P {
    margin-left: 0;
  }
  #leftSection .header__prelomni_text {
    flex-direction: column;
  }
  #leftSection .header__prelomni_text .text_lg {
    font-size: 44pt;
  }

  .insta_grand_traka {
    width: 150px;
    top: -60px;
  }
}
#rightSection {
  display: none;
}

.bottom_section {
  flex: 1;
  position: absolute;
  bottom: -220px;
  color: #000;
}
.bottom_section .footer__datumi {
  font-size: 14pt;
  flex-direction: row;
  font-family: "AntennaComp-Bold";
}
.bottom_section .footer__network {
  font-family: "Roboto-Regular";
}

@media (min-width: 992px) {
  #rightSection {
    display: flex;
    width: 200px;
    height: 70vh;
    flex-direction: column;
    justify-content: space-between;
  }
  #rightSection .kesice_kafe {
    width: 60%;
    transform: translateY(-50px);
  }
  #rightSection .solja_kafe {
    max-width: 250px;
  }

  .bottom_section {
    flex-direction: row;
    padding-bottom: 20px;
    bottom: -30px;
  }
  .bottom_section .footer__datumi {
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 50px;
    font-size: 26pt;
  }
  .bottom_section .footer__datumi p {
    margin: 0;
  }
  .bottom_section .footer__network {
    flex: 1;
    align-items: flex-end;
  }
  .bottom_section .footer__network div {
    flex-direction: row;
    justify-content: flex-start;
    width: 180px;
  }
  .bottom_section .footer__network div img {
    width: 20px;
  }
  .bottom_section .footer__network div p {
    margin: 5px 0 5px 5px;
    font-size: 16pt;
  }
}

/*# sourceMappingURL=styles.css.map */
