html {
    font-size: 12px;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    position: relative;
    min-height: 100%;
    font-family: $font-roboto-black;
    background-color: $color_yellow_back;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    flex: 3;
    // min-height: 100vh;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

a:active {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

.hide {
    display: none !important;
}

.disable-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.mobile {
    display: flex;

    @include lg {
        display: none;
    }
}

.desktop {
    display: none;

    @include lg {
        display: flex;
    }
}

.no-spin::-webkit-inner-spin-button,
.no-spin::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
}

.no-spin {
    -moz-appearance: textfield !important;
}

.documentWrapper {
    flex-direction: column;
    position: relative;
}



.background_box {
    background: radial-gradient(800px at bottom, #674537, #000 70%);
    // height: 95vh;
    min-height: 500px;
    position: relative;
    width: 100%;
    padding-top: 52px;
    padding-bottom: 100px;
}

.strelica {
    border-top: 100px solid transparent;
    border-left: calc(50vw + 2px) solid $color-yellow-back;
    border-right: calc(50vw + 2px) solid $color-yellow-back;
    content: "";
    width: 0;
    height: 0;
    left: -2px;
    bottom: -2px;
    position: absolute;
}


@include lg {
    .documentWrapper {
        flex-direction: row;
        align-items: flex-start;
    }
    
    .background_box {
        background: radial-gradient(1000px at bottom, #674537, #000 70%);
        padding-top: 115px;
        padding-bottom: 150px;
        width: calc(100vw - 400px);

    }
   
    .strelica {
        border-top: 150px solid transparent;
        border-left: calc(50vw - 198px) solid $color-yellow-back;
        border-right: calc(50vw - 198px) solid $color-yellow-back;
        
    }
 
    
}
