html {
    font-size: 12px;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    position: relative;
    min-height: 100%;
    font-family: $font-roboto-black;
    background-color: $color_yellow_back;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    flex: 4;
    background: radial-gradient(600px at bottom, #674537, #000 100%);
    min-height: 100vh;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

a:active {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

.hide {
    display: none !important;
}

.disable-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.mobile {
    display: flex;

    @include lg {
        display: none;
    }
}

.desktop {
    display: none;

    @include lg {
        display: flex;
    }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.documentWrapper {
    flex-direction: column;
}

#leftSection {
    height: 135px;
    flex-direction: row;
    font-family: $font-antenna-comp-bold;
    color: #000;
    font-style: italic;

    div {
        align-items: flex-start;
        width: fit-content;
    }
    .header__prelomni_text {
        flex-direction: row;
    }
    p {
        margin: 0;
        margin-left: 15px;
        font-size: 34pt;
        line-height: 1;
    }
}
.insta_grand_traka {
    width: 80px;
    position: relative;
    left: 5px;
    bottom: 25px;
}

#rightSection {
    display: none;
    flex: 1;
}

.bottom_section {
    flex: 1;
    position: absolute;
    bottom: -220px;
    color: #000;

    .footer__datumi {
        font-size: 14pt;
        flex-direction: row;
        font-family: $font-antenna-comp-bold;
    }

    .footer__network {
        font-family: $font-roboto-regular;
    }
}

.strelica {
    border-top: 100px solid transparent;
    border-left: 50vw solid $color-yellow-back;
    border-right: 50vw solid $color-yellow-back;
    content: "";
    height: 0;
    left: 0;
    bottom: 0;
    width: 0;
    position: absolute;
}

@include lg {
    .documentWrapper {
        flex-direction: row;
    }

    #leftSection {
        flex: 1;
        height: 100vh;
        flex-direction: column;
        justify-content: flex-start;

        .header__prelomni_text {
            flex-direction: column;
            .text_lg {
                font-size: 44pt;
            }
        }
    }

    .insta_grand_traka {
        width: 150px;
        top: -60px;
    }

    #rightSection {
        display: flex;
        flex: 1;
        height: 100vh;
        flex-direction: column;
        justify-content: flex-start;
        .kesice_kafe {
            height: 270px;
            transform: translateY(-50px);
        }
    }

    .strelica {
        border-top: 100px solid transparent;
        border-left: 33.4vw solid $color-yellow-back;
        border-right: 33.4vw solid $color-yellow-back;
    }

    .bottom_section {
        flex-direction: row;
        padding-bottom: 20px;

        .footer__datumi {
            flex-direction: column;
            align-items: flex-start;
            padding-left: 50px;
            font-size: 20pt;

            p {
                margin: 0;
            }
        }

        .footer__network {
            margin-left: 50%;

            div {
                flex-direction: row;
                justify-content: flex-start;

                img {
                    width: 15pt;
                }

                p {
                    margin: 5px 0 5px 5px;
                    font-size: 12pt;
                }
            }
        }
    }
}
