#rightSection {
    display: none;
}
.bottom_section {
    flex: 1;
    position: absolute;
    bottom: -240px;
    color: #000;
    
    .footer__datumi {
        font-size: 14pt;
        flex-direction: row;
        font-family: $font-antenna-comp-bold;
        
        p {
            &:last-child {
                padding-left: 3px;
            }
        }
    }
 
    .footer__network {
        a {
            display: flex;
            flex-direction: column;
            p {
                font-family: $font-roboto-medium;
                }
        }
    }
}
@include lg {
    #rightSection {
        // min-width: 200px;
        display: flex;
        width: 18vw;
        height: 100vh;
        flex-direction: column;
        justify-content: space-between;
        position: fixed;
        right: 0;
        .kesice_i_solja_desno {
            position: relative;
            height: 90%;
            max-height: 350px;
            img {
                position: absolute;
            }
            .kesice_kafe {
                // height: 250px;
                width: 65%;
                max-width: 150px;
                top: -85px;
                // transform: translateY(-50px);
            }
            .solja_kafe {
                bottom: 0;
                width: 240px;
                max-width: 100%;
                z-index: 1;
            }
        }
       
        .footer__network {
            align-items: flex-end;
            display: flex;
            justify-content: flex-end;
            color: #000;
            margin-bottom: 30px;

            a {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: baseline;
                width: 180px;
                padding-left: 25px;
                
                img {
                    width: 15px;
                }
                p {
                    margin: 0;
                    margin-left: 5px;
                    font-size: 12pt;
                    font-family: $font-roboto-medium;

                }
            }
        }

    }

    .bottom_section {
        display: none;
        
    }
}