.galerija {
    color: #fff;
    min-height: 60vh;
    // padding: 0 20px;
    h1 {
        font-family: $font-dejavu-sans;
        font-weight: 600;
        margin-bottom: 20px;
    }
    .grid_holder {
        width: 80%;
        max-width: 350px;
        .grid_box {
            margin: 5px 0;
            align-items: flex-start;
            width: 100%;
            // width: fit-content;
            .img_holder {
                position: relative;
                overflow: hidden;
                height: 0;
                padding-top: 100%;
                img {
                    object-fit: cover;
                    display: block;
                    position: absolute;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    max-width: unset;
                }
            }
            .text_holder {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                top: 0;
                justify-content: flex-end;

                .text_no_hover {
                    font-family: $font-roboto-medium;
                    font-size: 18pt;
                    margin-bottom: 5px;
                    text-align: center;
                    line-height: 1;
                }
                .text_on_hover {
                    display: none;
                    font-size: 12pt;
                    text-align: center;
                    line-height: 1;
                    
                    
                    .name {
                        font-family: $font-roboto-medium;
                        margin-top: 3px;
                    }
                    .text {
                        font-family: $font-roboto-regular;
                        padding-left: 3px;
                        padding-right: 3px;
                        margin-bottom: 5px;
                        text-overflow: ellipsis;

                    }
                }
                &:hover {
                    background-color: rgba(0, 0, 0, 0.5);
                    .text_no_hover {
                        display: none;
                    }
                    .text_on_hover {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 100%;
                    }
                }
            }
            .share_on_facebook {
                width: 33%;
                max-width: 100px;
                margin-top: 5px;
                margin-bottom: 10px;
            }
        }
    }
}
.pagination_arrows {
    flex-direction: row;
    color: $color-yellow-back;
    font-size: 18pt;
    cursor: pointer;
}
@include md {
    .galerija {
        .grid_holder {
            width: 100%;
            max-width: unset;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: auto;
            padding: 0 150px;
            column-gap: 20px;
            row-gap: 20px;
        }
    }
}
@include lg {
    .galerija {
        h1 {
            font-size: 20pt;
        }
        .grid_holder {
            max-width: 800px;
            grid-template-columns: repeat(4, 1fr);
            padding: 0 15px;
            // column-gap: 15px;
            // row-gap: 15px;
            .grid_box {
                // max-width: 25%;
                // .img_holder {
                //     width: 135px;
                //     height: 135px;
                // }
                .text_holder {
                    .text_on_hover {
                        font-size: 9.5pt;

                    }
                }
                .share_on_facebook {
                    margin-bottom: 0;
                }
            }
        }
    }
}