.navbar_box {
    position: absolute;
    top: 135px;
    bottom: -70px;
    z-index: 2;
    color: #fff;
    color: $color-yellow-back;
    font-family: $font-antenna-comp-bold;

    ul {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        padding: 0 20px 0 0;
        background-color: #000;
        color: #000;
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 180px;


    }
    .navbar_mobile_background {
        display: flex;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        height: 100vh;
        width: 100%;
        z-index: -1;
        background-color: #00000078;
    }
    li {
        list-style: none;
        font-size: 3.5vh;
        padding: 5px 10px;
        margin: 1vh 0;
        background-image: url('/images/najava_uskoro_traka.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        // background-position-x: -45px;
        display: flex;
        justify-content: center;
        max-height: 7vh;

    }
    .hamburger {
        position: absolute;
        top: 15px;
        left: 15px;
    }
    .closed {
        display: none;
    }
    .closed-nav_back {
        display: none;
    }
 
}
.navbar_box_open_mobile {
    bottom: unset;
}
#leftSection {
    height: 135px;
    flex-direction: row;
    font-family: $font-antenna-comp-bold;
    color: #000;
    font-style: italic;

    div {
        align-items: flex-start;
        width: auto;
    }
    p {
        margin: 0;
        margin-left: 15px;
        font-size: 34pt;
        line-height: 1;
        white-space: nowrap;
    }
    .header__prelomni_text {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;    
        .text_lg {
            // margin-left: 5px;
        }
    }
    .footer__datumi {
        display: none;
    }
}
    .insta_grand_traka {
        width: 80px;
        position: relative;
        left: 10px;
        bottom: 25px;
    }
 @include lg {
    .navbar_box {
        top: 0;
        bottom: unset;
        height: auto;
        font-family: $font-roboto-regular;


         .navbar_mobile_background {
             display: none;
         }
         .hamburger {
             display: none;
         }
         .closed {
             display: flex;
         }
         .closed-nav_back {
             display: none;
         }
         
         ul {
            flex-direction: row;
            justify-content: space-evenly;
            width: 64vw;
            margin-top: 40px;
            position: relative;
            top: 0;
            padding: 0 5px;
            background-color: transparent;
            border: none;
            border-radius: 0;
            margin-left: 10px;
            height: auto;
            color: $color-yellow-back;

            li {
                font-size: 13pt;
                margin: 0;
                border: none;
                padding: 0;
                background-image: none;
                -webkit-box-shadow: none;
                -moz-box-shadow: none;
                box-shadow: none;
            }
        }
    }
    #leftSection {
        width: 18vw;
        height: 100vh;
        flex-direction: column;
        justify-content: space-between;
        position: fixed;
        left: 0;
        div {
            height: 100%;
            justify-content: flex-start;
        }
        P {
            margin-left: 0;
            font-size: 3.5vw;
        }
        .header__prelomni_text {
            flex-direction: column;
            .text_lg {
                font-size: 5vw;
            }
        }
        .footer__datumi {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 30px;
            justify-content: flex-end;
            p {
                font-size: 2.2vw;
                margin: 0;
                font-style: normal;

            }
        }
    }
    .insta_grand_traka {
        width: 120px;
        top: -60px;
        left: unset;
    }
 }