.navbar_box {
    position: absolute;
    top: 135px;
    bottom: -70px;
    z-index: 2;
    color: #fff;
    font-family: $font-roboto-regular;
    color: $color-yellow-back;
    ul {
        position: absolute;
        top: -2px;
        bottom: 0;
        left: 0;
        padding: 15px 20px;
        background-color: $color-yellow-back;
        color: #000;
        display: flex;
        flex-direction: column;
        height: 100vh;


    }
    .navbar_mobile_background {
        display: flex;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        height: 100vh;
        width: 100%;
        z-index: -1;
        background-color: #00000078;
    }
    li {
        list-style: none;
        font-size: 20pt;
        border: 2px solid #000;
        padding: 5px 10px;
        margin: 10px 0;
        -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);

    }
    .hamburger {
        position: absolute;
        top: 15px;
        left: 15px;
    }
    .closed {
        display: none;
    }
    .closed-nav_back {
        display: none;
    }
 
}
.navbar_box_open_mobile {
    bottom: unset;
}
#leftSection {
    height: 135px;
    flex-direction: row;
    font-family: $font-antenna-comp-bold;
    color: #000;
    font-style: italic;

    div {
        align-items: flex-start;
        width: auto;
    }
    .header__prelomni_text {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    p {
        margin: 0;
        margin-left: 15px;
        font-size: 34pt;
        line-height: 1;
        white-space: nowrap;
    }
    .footer__datumi {
        display: none;
    }
}
    .insta_grand_traka {
        width: 80px;
        position: relative;
        left: 10px;
        bottom: 25px;
    }
 @include lg {
    .navbar_box {
         top: 0;
         bottom: unset;
         height: auto;

         .navbar_mobile_background {
             display: none;
         }
         .hamburger {
             display: none;
         }
         .closed {
             display: flex;
         }
         .closed-nav_back {
             display: none;
         }
         
         ul {
            flex-direction: row;
            justify-content: space-evenly;
            width: calc(100vw - 400px);
            margin-top: 40px;
            position: relative;
            top: 0;
            padding: 0 5px;
            background-color: transparent;
            border: none;
            border-radius: 0;
            margin-left: 10px;
            height: auto;
            color: $color-yellow-back;

            li {
                font-size: 12pt;
                margin: 0;
                border: none;
                padding: 0;
                -webkit-box-shadow: none;
                -moz-box-shadow: none;
                box-shadow: none;
            }
        }
    }
    #leftSection {
        width: 200px;
        height: 100vh;
        flex-direction: column;
        justify-content: space-between;
        position: fixed;
        left: 0;
        div {
            height: 100%;
            justify-content: flex-start;
        }
        P {
            margin-left: 0;
        }
        .header__prelomni_text {
            flex-direction: column;
            .text_lg {
                font-size: 44pt;
            }
        }
        .footer__datumi {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 30px;
            justify-content: flex-end;
            p {
                font-size: 18pt;
                margin: 0;
            }
        }
    }
    .insta_grand_traka {
        width: 150px;
        top: -60px;
        left: unset;
    }
 }