.navbar_box {
    position: absolute;
    top: 135px;
    z-index: 1;
    color: #fff;
    font-family: $font-roboto-regular;
    color: $color-yellow-back;
    ul {
        position: absolute;
        top: 50px;
        left: 0;
        padding: 15px 20px;
        margin-left: 10px;
        background-color: #000;
        border: 2px solid $color-yellow-back;
        border-radius: 10px;
        display: flex;
        flex-direction: column;

    }
    li {
        list-style: none;
        font-size: 20pt;
    }
    .hamburger {
        position: absolute;
        top: 15px;
        left: 15px;
    }
    .closed {
        display: none;
    }
 
}

#leftSection {
    height: 135px;
    flex-direction: row;
    font-family: $font-antenna-comp-bold;
    color: #000;
    font-style: italic;

    div {
        align-items: flex-start;
        width: auto;
    }
    .header__prelomni_text {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    p {
        margin: 0;
        margin-left: 15px;
        font-size: 34pt;
        line-height: 1;
        white-space: nowrap;
    }
    .footer__datumi {
        display: none;
    }
}
    .insta_grand_traka {
        width: 80px;
        position: relative;
        left: 10px;
        bottom: 25px;
    }
 @include lg {
    .navbar_box {
         top: 0;
         .hamburger {
             display: none;
         }
         .closed {
             display: flex;
         }
         
         ul {
            flex-direction: row;
            justify-content: space-evenly;
            width: calc(100vw - 400px);
            margin-top: 40px;
            position: relative;
            top: 0;
            padding: 0 5px;
            background-color: transparent;
            border: none;
            border-radius: 0;
            li {
                font-size: 12pt;
            }
        }
    }
    #leftSection {
        width: 200px;
        height: 100vh;
        flex-direction: column;
        justify-content: space-between;
        position: fixed;
        left: 0;
        div {
            height: 100%;
            justify-content: flex-start;
        }
        P {
            margin-left: 0;
        }
        .header__prelomni_text {
            flex-direction: column;
            .text_lg {
                font-size: 44pt;
            }
        }
        .footer__datumi {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 30px;
            justify-content: flex-end;
            p {
                font-size: 18pt;
                margin: 0;
            }
        }
    }
    .insta_grand_traka {
        width: 150px;
        top: -60px;
        left: unset;
    }
 }