.kontakt {
    justify-content: flex-start;

    // h1 {
    //     font-family: $font-roboto-black;
    //     font-weight: 600;
    //     margin-bottom: 20px;

    // }
    color: #fff;
    img {
        width: 60px;
    }
    p {
        text-align: center;
        word-break: break-word;
        margin: 8px 0 18px 0;
        font-size: 14pt;
        font-family: $font-roboto-medium;
        span{
            font-family: $font-roboto-regular;
        }
    }
    .follow_us {
        font-family: $font-roboto-medium;
    }
    div {
        flex-direction: row;
        padding-bottom: 30px;
        a {
            margin: 0 3px;
            img {
                height: 50px;
                width: auto;
            }
        }
    }
}
@include lg {
    .kontakt {
    justify-content: flex-start;

        // h1 {
        //     font-size: 32pt;
        // }
        img {
            width: 50px;
        }
        div {
            padding-bottom: 20px;
            a {
                img {
                    height: 40px;
                    width: auto;
                }
            }
        }
    }
}