.profil {

    .profil__holder {
        width: 80%;
        max-width: 350px;
        margin-top: 40px;
        position: relative;
    }
    .profil__foto_holder {
       
        .img_holder {
            border: 1px solid $color-yellow-back;
            position: relative;
            
            img {
                object-fit: cover;
                display: block;
                width: 100%;
                height: 100%;
                max-width: unset;
            }
            }
        }
        .profil__video_holder {
            margin-top: 80px;
            .video_holder {
                border: 1px solid $color-yellow-back;
                position: relative;
                overflow: hidden;
                height: auto;
                padding-top: 0;
                video {
                    
                }
                }
            }
    .floating_traka {
        position: absolute;
        background-color: $color-yellow-back;
        font-family: $font-antenna-comp-bold;
        top: -45px;
        width: 100%;
        height: 40px;
        font-size: 20pt;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #000;
        font-style: italic;
        p {
            margin: 0;
        }
    }
    .text_box {
        width: 100%;
        min-height: 200px;
        height: auto;
        background-color: #000;
        border: 2px solid $color-yellow-back;
        text-align: center;
        color: #fff;
        font-family: $font-roboto-regular;
        line-height: 1;
        margin-top: 10px;
        padding: 10px;
        align-items: flex-start;
        justify-content: flex-start;
        font-size: 14pt;
        // overflow-y: scroll;
        word-wrap: break-word;

        // min-height: 150px;
    }
    .share_div {
        margin-top: 10px;
        width: 80%;
        max-width: 350px;
        align-items: flex-start;
        p {
            margin-top: 5px;
            font-family: $font-roboto-regular;
            color: $color-yellow-back
        }
    }
}
@include lg {
    .profil {
    justify-content: flex-start;

        .profil__holder {
            width: 80%;
            max-width: unset;
            display: grid;
            transform: translateX(20px);

        }
        .profil__foto_holder {
            margin-top: 0;
            grid-template-columns: repeat(3, 1fr);
            grid-template-areas: "slika tekst tekst";
            div {
                height: 100%;
            }
            .img_holder {
                // padding-top: 48%;
                // margin-left: 45px;
                grid-area: slika;
               
            }
  
        }
        .profil__video_holder {
            margin-top: 20px;
            grid-template-columns: repeat(7, 1fr);
            grid-template-areas: "video video video video tekst tekst tekst";
            .video_holder {
                padding-top: 0;
                height: 200px;
                // width: 50%;
                // padding-top: 48%;
                // margin-left: 45px;
                grid-area: video;
            }
           
        }
        .text_box {
            height: 100%;
            grid-area: tekst;
            margin-top: 0;
            margin-left: 10px;
            align-items: flex-start;
            height: 200px;
      

        }
        .share_div {
            width: 70%;
            max-width: 600px;
            flex-direction: column;
            margin-left: 40px;
            img {
                max-width: 70px;
            }
        }
        .floating_traka {
            left: -45px;
            width: 40px;
            height: 100%;
            top: 0;
            p {
                transform: rotate(-90deg);
            }
        }
    }
}