.uskoro {
    background-color: $color-yellow-back;
    font-family: $font-antenna-comp-bold;
    font-style: italic;

    justify-content: flex-start;
}

.uskoro__header {
    position: relative;
    height: 135px;
    flex-direction: row;
    img {
        width: 80px;
        position: relative;
        left: 10px;
        bottom: 25px;
    }
    div {
        align-items: flex-start;
        width: fit-content;
        width: auto;
    }
    p {
        margin: 0;
        margin-left: 15px;
        font-size: 34pt;
        line-height: 1;
    }
}

.uskoro__main_div {
    background: radial-gradient(600px at bottom, #674537, #000 55%);
    display: inline-block;
    // height: 80vh;
    min-height: 500px;
    position: relative;
    width: 100vw;
    // justify-content: flex-start;
}

.background_strelica {
    border-top: 100px solid transparent;
    border-left: 50vw solid $color-yellow-back;
    border-right: 50vw solid $color-yellow-back;
    content: "";
    height: 0;
    left: 0;
    bottom: -3px;
    width: 0;
    position: absolute;
}
.uskoro__nagrade {
    align-items: flex-start;
    position: relative;
    max-width: 300px;
    margin: 0 auto;
    margin-top: 30px;
}
.uskoro_iphone_traka {
    position: relative;
    align-items: flex-start;
    width: fit-content;
    // padding: 30px 20px;

    .img__iphone {
        width: 170px;
        z-index: 1;
    }

    .img__traka_uskoro {
        position: absolute;
        top: 12px;
        left: 40px;
        width: auto;
        align-items: flex-end;
        // max-width: 150px;
        img {
            max-width: unset;
            height: 60px;
        }
        p {
            position: absolute;
            font-size: 36pt;
            font-family: $font-antenna-comp-bold;
            color: #000;
            font-style: italic;
            // margin-left: 80px;
        }
    }
    p {
        color: #fff;
        font-size: 12pt;
        margin: 0;
        width: 180px;
        text-align: center;
    }
}
.uskoro__sporedne_nagrade {
    position: absolute;
    width: auto;
    top: 80px;
    left: 180px;

    img {
        width: 100px;
    }
    p {
        color: #fff;
        margin-top: 0;
        word-wrap: none;
        width: 100%;
    }
    .slusalice {
        width: 60px;
    }
}
.uskoro__kafa_bottom_box {
    position: absolute;
    bottom: -35px;
    z-index: 1;

    .kesice {
        width: 120px;
        right: 50%;
        transform: translateX(-10px);
        position: absolute;
    }
    .solja {
        width: 170px;
        z-index: 1;
    }
}
.uskoro__footer {
    margin-top: 50px;

    .footer__datumi {
        font-family: $font-antenna-comp-bold;
        font-size: 14pt;
        flex-direction: row;
        p {
            margin: 10px 2px;
        }
    }
    .footer__network {
        font-family: $font-roboto-regular;
        a {
            display: flex;
            flex-direction: column;
        }
    }
}

@include lg {
    .uskoro__main_div {
        background: radial-gradient(1000px at bottom, #674537, #000 58%);
        height: 65vh;
        // min-height: 850px;
        position: relative;
        width: 100vw;
        justify-content: center;
    }

    .background_strelica {
        border-top: 170px solid transparent;
        border-left: 50vw solid $color-yellow-back;
        border-right: 50vw solid $color-yellow-back;
    }
    .uskoro__nagrade {
        align-items: center;
        max-width: 600px;
        width: 300px;
        margin-top: 0;

        .uskoro_iphone_traka {
            transform: translateX(-50%);
            .img__iphone {
                width: 280px;
                max-width: 400px;
            }
            .img__traka_uskoro {
                top: 20px;
                left: 70px;
                height: 100px;
                align-items: center;
                img {
                    height: 110px;
                }
                p {
                    font-size: 75pt;
                    margin-left: 0;
                    width: 75%;
                    text-align: right;
                }
            }
            .white_text {
                margin-left: 60px;
            }
        }
    }
    .uskoro__header {
        height: 180px;
        align-items: center;
        flex-direction: row;

        img {
            width: 120px;
            position: relative;
            bottom: 50px;
        }
        p {
            margin: 0;
            margin-left: 20px;
            font-size: 50pt;
            line-height: 1;
        }
    }
    .uskoro__sporedne_nagrade {
        width: 100%;
        left: 160px;
        top: 155px;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        grid-template-areas:
            "zvucnik slusalice"
            "paket paket";

        .zvucnik_box {
            grid-area: zvucnik;
            p {
                text-align: center;
            }
        }
        .slusalice_box {
            grid-area: slusalice;
            p {
                text-align: center;
            }
        }
        .paket_box {
            grid-area: paket;
            p {
                text-align: center;
            }
        }
        .zvucnik {
            width: 160px;
            max-width: unset;
        }
        .slusalice {
            width: 100px;
        }
        .paket {
            width: 140px;
        }
    }
    .uskoro__kafa_bottom_box {
        .kesice {
            width: 150px;
            transform: translateX(-12px);
        }
        .solja {
            width: 200px;
        }
    }
    .uskoro__footer {
        flex-direction: row;
        margin-top: 0;
        padding-bottom: 20px;
        z-index: 2;
        position: relative;

        .footer__datumi {
            flex-direction: column;
            align-items: flex-start;
            padding-left: 50px;
            font-size: 20pt;

            p {
                margin: 0;
            }
        }
        .footer__network {
            margin-left: 50%;
            align-items: flex-start;
            a {
                flex-direction: row;
                justify-content: flex-start;
            }
            img {
                width: 15px;
            }
            p {
                margin: 5px 0 5px 5px;
                font-size: 12pt;
            }
        }
    }
}
