.uskoro {
    background-color: $color-yellow-back;
    font-family: $font-antenna-comp-bold;
    font-style: italic;

    justify-content: flex-start;
}

.uskoro__header {
    position: relative;
    height: 135px;
    flex-direction: row;
    img {
        width: 80px;
        position: relative;
        left: 5px;
        bottom: 25px;
    }
    div {
        align-items: flex-start;
        width: fit-content;
    }
    p {
        margin: 0;
        margin-left: 15px;
        font-size: 34pt;
        line-height: 1;
    }
}

.uskoro__main_div {
    background: radial-gradient(600px at bottom, #674537, #000 55%);
    display: inline-block;
    height: 80vh;
    min-height: 500px;
    position: relative;
    width: 100vw;
    // justify-content: flex-start;
}

.background_strelica {
    border-top: 100px solid transparent;
    border-left: 50vw solid $color-yellow-back;
    border-right: 50vw solid $color-yellow-back;
    content: "";
    height: 0;
    left: 0;
    bottom: 0;
    width: 0;
    position: absolute;
}
.uskoro__nagrade {
    align-items: flex-start;
    position: relative;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 30px;
}
.uskoro_iphone_traka {
    position: relative;
    align-items: flex-start;
    width: fit-content;
    // padding: 30px 20px;

    .img__iphone {
        width: 170px;
        z-index: 1;
    }

    .img__traka_uskoro {
        position: absolute;
        top: 12px;
        left: 95px;
        img {
            max-width: unset;
            height: 60px;
        }
        p {
            position: absolute;
            font-size: 36pt;
            font-family: $font-antenna-comp-bold;
            color: #000;
            font-style: italic;
            margin-left: 80px;
        }
    }
    p {
        color: #fff;
        font-size: 12pt;
        margin: 0;
        width: 180px;
        text-align: center;
    }
}
.uskoro__sporedne_nagrade {
    position: absolute;
    width: auto;
    top: 80px;
    left: 180px;

    img {
        width: 100px;
    }
    p {
        color: #fff;
        margin-top: 0;
        word-wrap: none;
    }
    .slusalice {
        width: 60px;
    }
}
.uskoro__kafa_bottom_box {
    position: absolute;
    bottom: -35px;
    z-index: 1;

    .kesice {
        width: 120px;
        right: 50%;
        transform: translateX(-10px);
        position: absolute;
    }
    .solja {
        width: 170px;
        z-index: 1;
    }
}
.uskoro__footer {
        margin-top: 35px;
    
    .footer__datumi {
        font-family: $font-antenna-comp-bold;
        font-size: 14pt;
        flex-direction: row;
    }
    .footer__network {
        font-family: $font-roboto-regular;
    }

}

@include lg {
    .uskoro__main_div {
        background: radial-gradient(1000px at bottom, #674537, #000 58%);
        height: 70vh;
        min-height: 850px;
        position: relative;
        width: 100vw;
        justify-content: center;
    }

    .background_strelica {
        border-top: 170px solid transparent;
        border-left: 50vw solid $color-yellow-back;
        border-right: 50vw solid $color-yellow-back;
    }
    .uskoro__nagrade {
        align-items: center;
        max-width: 600px;

        .uskoro_iphone_traka {
            transform: translateX(-50%);
            .img__iphone {
                width: 500px;
            }
            .img__traka_uskoro {
                top: 35px;
                left: 400px;
                img {
                    height: 150px;
                }
                p {
                    font-size: 100pt;
                    margin-left: 0;
                }
            }
            .white_text {
                margin-left: 180px;
            }
        }
    }
    .uskoro__header {
        height: 250px;
        align-items: center;
        flex-direction: row;

        img {
            width: 150px;
            position: relative;
            bottom: 50px;
        }
        p {
            margin: 0;
            margin-left: 20px;
            font-size: 50pt;
            line-height: 1;
        }
    }
    .uskoro__sporedne_nagrade {
        width: 100%;
        left: 200px;
        top: 200px;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        grid-template-areas:
            "zvucnik slusalice"
            "paket paket";

        .zvucnik_box {
            grid-area: zvucnik;
        }
        .slusalice_box {
            grid-area: slusalice;
        }
        .paket_box {
            grid-area: paket;
        }
        .zvucnik {
            width: 270px;
        }
        .slusalice {
            width: 150px;
        }
        .paket {
            width: 250px;
        }
    }
    .uskoro__kafa_bottom_box {
        .kesice {
            width: 170px;
            transform: translateX(-30px);
        }
        .solja {
            width: 250px;
        }
    }
    .uskoro__footer {
        flex-direction: row;
        margin-top: 0;
        padding-bottom: 20px;

        .footer__datumi {
            flex-direction: column;
            align-items: flex-start;
            padding-left: 50px;
            font-size: 20pt;
            
            p {
                margin: 0;
            }
        }
        .footer__network {
            margin-left: 50%;
            div {
                flex-direction: row;
                justify-content: flex-start;
            }
            img {
                width: 15px;
            }
            p {
                margin: 5px 0 5px 5px;
                font-size: 12pt;
            }
        }
    }
}
